<h2>Code driven</h2>
<form (ngSubmit)="register()" [formGroup]="userForm">

    <div>
      <label>Username</label>
      <input formControlName="username">
      <div *ngIf="usernameCtrl.dirty && usernameCtrl.hasError('required')">Username is mandatory</div>
      <div *ngIf="usernameCtrl.dirty && usernameCtrl.hasError('minlength')">Username should be 3</div>
    </div>
  
    <div>
      <label></label>
      <input formControlName="password">
      <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is mandatory</div>
    </div>
  
    <button [disabled]="userForm.invalid" type="submit">Register</button>
    {{todo | json}}
  </form>
  
